body {
    padding: 0;
    margin: 0;
    background-color: rgb(218, 218, 218);
}

.title {
    text-align: center;
}

.centerguy {
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}